## Pandas analysis

This exercise consists in analyzing a dataset containg timing information from a series of Time-to-Digital-Converters (TDC) implemented in a couple of FPGAs. Each measurement (i.e. each row of the input file) consists of a flag that specifies the type of message ('HEAD', which in this case is always 1), two addresses of the TDC providing the signal ('FPGA' and 'TDC_CHANNEL'), and the timing information ('ORBIT_CNT', 'BX_COUNTER', and 'TDC_MEAS'). Each TDC count corresponds to 25/30 ns, whereas a unit of BX_COUNTER corresponds to 25 ns, and the ORBIT_CNT is increased every 'x' BX_COUNTER. This allows to store the time in a similar way to hours, minutes and seconds.

In [1]:
# If you didn't download it yet, please get the relevant file now!
#!wget https://www.dropbox.com/s/xvjzaxzz3ysphme/data_000637.txt -P ~/data/

--2024-01-16 16:17:04--  https://www.dropbox.com/s/xvjzaxzz3ysphme/data_000637.txt
Resolving www.dropbox.com (www.dropbox.com)... 2620:100:6025:18::a27d:4512, 162.125.69.18
Connecting to www.dropbox.com (www.dropbox.com)|2620:100:6025:18::a27d:4512|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: /s/raw/xvjzaxzz3ysphme/data_000637.txt [following]
--2024-01-16 16:17:05--  https://www.dropbox.com/s/raw/xvjzaxzz3ysphme/data_000637.txt
Reusing existing connection to [www.dropbox.com]:443.
HTTP request sent, awaiting response... 302 Found
Location: https://ucb6d2b19efcd60a93ddc1cd4d6e.dl.dropboxusercontent.com/cd/0/inline/CLfnP3IQx2WwPftFt_9wjLUB1J9WUSH_r_1_2IRYpH2ZylZiFLxTEBhCOOb21sQphCT0UYgjOw2mAJF-L_4DGbaZXOh9vu8vmbsbDnqnf77nCwB0cGsuJNdn5Ompz9KkdG4/file# [following]
--2024-01-16 16:17:05--  https://ucb6d2b19efcd60a93ddc1cd4d6e.dl.dropboxusercontent.com/cd/0/inline/CLfnP3IQx2WwPftFt_9wjLUB1J9WUSH_r_1_2IRYpH2ZylZiFLxTEBhCOOb21sQphCT0UYgjOw2mAJF-L_4DGbaZXOh9vu8vmbsbDnqnf77nCwB0cGsuJNdn5Ompz9KkdG4/file
Resolving ucb6d2b19efcd60a93ddc1cd4d6e.dl.dropboxusercontent.com (ucb6d2b19efcd60a93ddc1cd4d6e.dl.dropboxusercontent.com)... 2620:100:6025:15::a27d:450f, 162.125.69.15
Connecting to ucb6d2b19efcd60a93ddc1cd4d6e.dl.dropboxusercontent.com (ucb6d2b19efcd60a93ddc1cd4d6e.dl.dropboxusercontent.com)|2620:100:6025:15::a27d:450f|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 33179236 (32M) [text/plain]
Saving to: ‘/Users/francoaquistapace/data/data_000637.txt’

data_000637.txt     100%[===================>]  31.64M  6.63MB/s    in 4.8s

2024-01-16 16:17:12 (6.57 MB/s) - ‘/Users/francoaquistapace/data/data_000637.txt’ saved [33179236/33179236]

In [2]:
# Let's import pandas
import pandas as pd

In [5]:
# Load the data
path = '../data/data_000637.txt'
df = pd.read_csv(path)
df.head()

   HEAD  FPGA  TDC_CHANNEL   ORBIT_CNT  BX_COUNTER  TDC_MEAS
0     1     0          123  3869200167        2374        26
1     1     0          124  3869200167        2374        27
2     1     0           63  3869200167        2553        28
3     1     0           64  3869200167        2558        19
4     1     0           64  3869200167        2760        25

1\. Create a Pandas DataFrame reading N rows of the 'data_000637.txt' dataset. Choose N to be smaller than or equal to the maximum number of rows and larger that 10k.

2\. Find out the number of BX in a ORBIT (the value 'x').

3\. Find out how much the data taking lasted. You can either make an estimate based on the fraction of the measurements (rows) you read, or perform this check precisely by reading out the whole dataset.

4\. Create a new column with the absolute time in ns (as a combination of the other three columns with timing information).

5\. Replace the values (all 1) of the HEAD column randomly with 0 or 1.

6\. Create a new DataFrame that contains only the rows with HEAD=1.

7\. Make two occupancy plots (one for each FPGA), i.e. plot the number of counts per TDC channel

8\. Use the groupby method to find out the noisy channels, i.e. the TDC channels with most counts (say the top 3)

9\. Count the number of unique orbits. Count the number of unique orbits with at least one measurement from TDC_CHANNEL=139

In [38]:
# 1. 
# Choose amount of rows to read 
N = 10001
# Load data
df_N = pd.read_csv(path, nrows=N)
print('DataFrame shape:',df_N.shape)
df_N.head()

DataFrame shape: (10001, 6)

   HEAD  FPGA  TDC_CHANNEL   ORBIT_CNT  BX_COUNTER  TDC_MEAS
0     1     0          123  3869200167        2374        26
1     1     0          124  3869200167        2374        27
2     1     0           63  3869200167        2553        28
3     1     0           64  3869200167        2558        19
4     1     0           64  3869200167        2760        25

In [46]:
# 2.
# Let's find out how many BX are there per ORBIT
BX_amounts = []
ORBIT_vals = df_N['ORBIT_CNT'].unique()[:101]
# Iterate over first few ORBIT values
for val in ORBIT_vals:
    # Count how many BX have the same ORBIT
    BX_data = df_N.loc[df_N['ORBIT_CNT'] == val, 'BX_COUNTER']
    BX_amounts.append(BX_data.max() - BX_data.min())
BX_amounts = pd.Series(BX_amounts)

# Use maximum number registered as estimation
print(r'Amount of BX per ORBIT: %d' % (BX_amounts.max()))

Amount of BX per ORBIT: 3539